# In this notebook we clean and merge data correctly at the county level

## Texas

In [2]:
import pandas as pd

df1 = pd.read_table('/workspaces/pds-2022-turquoise-team/00_source_data/mortality for texas.txt')
df2 = pd.read_csv('/workspaces/pds-2022-turquoise-team/00_source_data/state county population.csv')

In [3]:
df1['Year County Code Combo'] = df1['County Code'].astype(str) + df1['Year'].astype(str)

In [4]:
df2 ['Year County Code Combo'] = df1['County Code'].astype(str) + df1['Year'].astype(str)

In [5]:
to_add_df = df1.merge(df2,indicator = True, on= 'Year County Code Combo', how='outer')#.loc[lambda x : x['_merge']=='right_only']

In [6]:
to_add_df = to_add_df.drop(columns=['Notes', 'State_x', 'State Code_x', 'County_x', 'Year_x', 'Year Code_x', 'Cause of death', 'Cause of death Code', 'Year Code_y','Crude Rate', 'State Code_y', 'County Code_x', 'Population_x', 'Year County Code Combo','County Code_y'  
])

In [7]:
to_add_df['Deaths'] =  to_add_df['Deaths'].fillna('5')

In [18]:
(to_add_df['State_y'].unique()).size

51

In [25]:
to_add_df['Population_y'].unique()

array(['42963', '43671', '44889', ..., '8235', '7760', '7082'],
      dtype=object)

In [26]:
to_add_df = to_add_df[to_add_df['Population_y'] != 'Missing']

In [30]:
to_add_df['Death Rate'] = (to_add_df['Deaths'].astype('int')/to_add_df['Population_y'].astype('int'))*100000

In [31]:
to_add_df

,Deaths,State_y,County_y,Year_y,Population_y,_merge,Death Rate
0,16.0,Alabama,"Autauga County, AL",1999,42963,both,37.241347
1,10.0,Alabama,"Autauga County, AL",2000,43671,both,22.898491
2,15.0,Alabama,"Autauga County, AL",2001,44889,both,33.415759
3,13.0,Alabama,"Autauga County, AL",2002,45909,both,28.316888
4,20.0,Alabama,"Autauga County, AL",2003,46800,both,42.735043
...,...,...,...,...,...,...,...
83252,5,Wyoming,"Weston County, WY",2016,7236,right_only,69.098950
83253,5,Wyoming,"Weston County, WY",2017,6927,right_only,72.181319
83254,5,Wyoming,"Weston County, WY",2018,6967,right_only,71.766901
83255,5,Wyoming,"Weston County, WY",2019,6927,right_only,72.181319
83256,5,Wyoming,"Weston County, WY",2020,6743,right_only,74.150971

In [33]:
to_add_df.rename(columns={"State_y": "State", "County_y": "County", "Year_y": "Year", "Population_y": "Population"})

,Deaths,State,County,Year,Population,_merge,Death Rate
0,16.0,Alabama,"Autauga County, AL",1999,42963,both,37.241347
1,10.0,Alabama,"Autauga County, AL",2000,43671,both,22.898491
2,15.0,Alabama,"Autauga County, AL",2001,44889,both,33.415759
3,13.0,Alabama,"Autauga County, AL",2002,45909,both,28.316888
4,20.0,Alabama,"Autauga County, AL",2003,46800,both,42.735043
...,...,...,...,...,...,...,...
83252,5,Wyoming,"Weston County, WY",2016,7236,right_only,69.098950
83253,5,Wyoming,"Weston County, WY",2017,6927,right_only,72.181319
83254,5,Wyoming,"Weston County, WY",2018,6967,right_only,71.766901
83255,5,Wyoming,"Weston County, WY",2019,6927,right_only,72.181319
83256,5,Wyoming,"Weston County, WY",2020,6743,right_only,74.150971

## Florida

In [5]:
df1

,Unnamed: 0,Year,State,State Code,County,County Code,Cause of death,Cause of death Code,Deaths,Population,Crude Rate,State_Code,County Name,Year County Code Combo
0,32,2007,Arkansas,5.0,"Garland County, AR",5051.0,Poisoning by and exposure to other and unspeci...,Y14,12.0,94753.0,Unreliable,AR,Garland County,5051.02007
1,33,2007,Arkansas,5.0,"Pulaski County, AR",5119.0,Poisoning by and exposure to other and unspeci...,Y14,11.0,373403.0,Unreliable,AR,Pulaski County,5119.02007
2,34,2007,Arkansas,5.0,"Sebastian County, AR",5131.0,Accidental poisoning by and exposure to other ...,X44,10.0,122946.0,Unreliable,AR,Sebastian County,5131.02007
3,35,2007,Arkansas,5.0,"Sebastian County, AR",5131.0,Poisoning by and exposure to other and unspeci...,Y14,11.0,122946.0,Unreliable,AR,Sebastian County,5131.02007
4,36,2007,California,6.0,"Alameda County, CA",6001.0,Accidental poisoning by and exposure to antiep...,X41,17.0,1455715.0,Unreliable,CA,Alameda County,6001.02007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2096,4770,2012,Washington,53.0,"Spokane County, WA",53063.0,Accidental poisoning by and exposure to other ...,X44,44.0,475735.0,9.2,WA,Spokane County,53063.02012
2097,4771,2012,Washington,53.0,"Thurston County, WA",53067.0,Accidental poisoning by and exposure to narcot...,X42,10.0,258332.0,Unreliable,WA,Thurston County,53067.02012
2098,4772,2012,Washington,53.0,"Thurston County, WA",53067.0,Accidental poisoning by and exposure to other ...,X44,12.0,258332.0,Unreliable,WA,Thurston County,53067.02012
2099,4773,2012,Washington,53.0,"Yakima County, WA",53077.0,Accidental poisoning by and exposure to other ...,X44,15.0,246977.0,Unreliable,WA,Yakima County,53077.02012
2100,4799,2012,Wyoming,56.0,"Laramie County, WY",56021.0,Accidental poisoning by and exposure to other ...,X44,11.0,94483.0,Unreliable,WY,Laramie County,56021.02012

In [6]:
to_add_df

,Unnamed: 0,Year_x,State_x,State Code_x,County_x,County Code_x,Cause of death,Cause of death Code,Deaths,Population_x,...,County Name,Year County Code Combo,State_y,State Code_y,County_y,County Code_y,Year_y,Year Code,Population_y,_merge
0,32.0,2007.0,Arkansas,5.0,"Garland County, AR",5051.0,Poisoning by and exposure to other and unspeci...,Y14,12.0,94753.0,...,Garland County,5051.02007,Alabama,1,"Autauga County, AL",1001,1999,1999,42963,both
1,33.0,2007.0,Arkansas,5.0,"Pulaski County, AR",5119.0,Poisoning by and exposure to other and unspeci...,Y14,11.0,373403.0,...,Pulaski County,5119.02007,Alabama,1,"Autauga County, AL",1001,2000,2000,43671,both
2,34.0,2007.0,Arkansas,5.0,"Sebastian County, AR",5131.0,Accidental poisoning by and exposure to other ...,X44,10.0,122946.0,...,Sebastian County,5131.02007,Alabama,1,"Autauga County, AL",1001,2001,2001,44889,both
3,34.0,2007.0,Arkansas,5.0,"Sebastian County, AR",5131.0,Accidental poisoning by and exposure to other ...,X44,10.0,122946.0,...,Sebastian County,5131.02007,Alabama,1,"Autauga County, AL",1001,2002,2002,45909,both
4,35.0,2007.0,Arkansas,5.0,"Sebastian County, AR",5131.0,Poisoning by and exposure to other and unspeci...,Y14,11.0,122946.0,...,Sebastian County,5131.02007,Alabama,1,"Autauga County, AL",1001,2001,2001,44889,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Wyoming,56,"Weston County, WY",56045,2016,2016,7236,right_only
72289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Wyoming,56,"Weston County, WY",56045,2017,2017,6927,right_only
72290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Wyoming,56,"Weston County, WY",56045,2018,2018,6967,right_only
72291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Wyoming,56,"Weston County, WY",56045,2019,2019,6927,right_only
72292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Wyoming,56,"Weston County, WY",56045,2020,2020,6743,right_only

In [12]:
import pandas as pd
df1 = pd.read_csv('../20_intermediate_files/vital_stats_merged.csv')
df2 = pd.read_csv('/workspaces/pds-2022-turquoise-team/00_source_data/state county population.csv')
df1['Year County Code Combo'] = df1['County Code'].astype(str) + df1['Year'].astype(str)
df2 ['Year County Code Combo'] = df1['County Code'].astype(str) + df1['Year'].astype(str)
to_add_df = df1.merge(df2,indicator = True, on= 'Year County Code Combo', how='outer')#.loc[lambda x : x['_merge']=='right_only']
to_add_df = to_add_df.drop(columns=['State_x', 'Unnamed: 0', 'County Name', 'State Code_x', 'State_Code', 'Year Code', 'County_x', 'Year_x', 'Cause of death', 'Cause of death Code', 'Crude Rate', 'State Code_y', 'County Code_x', 'Population_x', 'Year County Code Combo','County Code_y'  
])
to_add_df['Deaths'] =  to_add_df['Deaths'].fillna('5')
to_add_df = to_add_df[to_add_df['Population_y'] != 'Missing']
to_add_df['Death Rate'] = (to_add_df['Deaths'].astype('int')/to_add_df['Population_y'].astype('int'))*100000
to_add_df.rename(columns={"State_y": "State", "County_y": "County", "Year_y": "Year", "Population_y": "Population"})

,Deaths,State,County,Year,Population,_merge,Death Rate
0,12.0,Alabama,"Autauga County, AL",1999,42963,both,27.931010
1,11.0,Alabama,"Autauga County, AL",2000,43671,both,25.188340
2,10.0,Alabama,"Autauga County, AL",2001,44889,both,22.277173
3,10.0,Alabama,"Autauga County, AL",2002,45909,both,21.782221
4,11.0,Alabama,"Autauga County, AL",2001,44889,both,24.504890
...,...,...,...,...,...,...,...
72288,5,Wyoming,"Weston County, WY",2016,7236,right_only,69.098950
72289,5,Wyoming,"Weston County, WY",2017,6927,right_only,72.181319
72290,5,Wyoming,"Weston County, WY",2018,6967,right_only,71.766901
72291,5,Wyoming,"Weston County, WY",2019,6927,right_only,72.181319
72292,5,Wyoming,"Weston County, WY",2020,6743,right_only,74.150971

In [17]:
to_add_df.to_csv('/workspaces/pds-2022-turquoise-team/00_source_data/florida_all_data_all_counties.csv')

## Washington

In [31]:
import pandas as pd
df1 = pd.read_table('../00_source_data/mortality for washington.txt')
df2 = pd.read_csv('/workspaces/pds-2022-turquoise-team/00_source_data/state county population.csv')
df1['Year County Code Combo'] = df1['County Code'].astype(str) + df1['Year'].astype(str)
df2 ['Year County Code Combo'] = df1['County Code'].astype(str) + df1['Year'].astype(str)
to_add_df = df1.merge(df2,indicator = True, on= 'Year County Code Combo', how='outer')
to_add_df = to_add_df.drop(columns=['Notes', 'Year Code_x', 'Year Code_y', 'State_x', 'State Code_x', 'County_x', 'Year_x', 'Cause of death', 'Cause of death Code', 'Crude Rate', 'State Code_y', 'County Code_x', 'Population_x', 'Year County Code Combo','County Code_y'  
])
to_add_df['Deaths'] =  to_add_df['Deaths'].fillna('5')
to_add_df = to_add_df[to_add_df['Population_y'] != 'Missing']
to_add_df['Death Rate'] = (to_add_df['Deaths'].astype('int')/to_add_df['Population_y'].astype('int'))*100000
to_add_df.rename(columns={"State_y": "State", "County_y": "County", "Year_y": "Year", "Population_y": "Population"})
## Death rate is per 100,000

,Deaths,State,County,Year,Population,_merge,Death Rate
0,20.0,Alabama,"Autauga County, AL",1999,42963,both,46.551684
1,18.0,Alabama,"Autauga County, AL",2000,43671,both,41.217284
2,10.0,Alabama,"Autauga County, AL",2001,44889,both,22.277173
3,10.0,Alabama,"Autauga County, AL",2002,45909,both,21.782221
4,12.0,Alabama,"Autauga County, AL",2001,44889,both,26.732607
...,...,...,...,...,...,...,...
86860,5,Wyoming,"Weston County, WY",2016,7236,right_only,69.098950
86861,5,Wyoming,"Weston County, WY",2017,6927,right_only,72.181319
86862,5,Wyoming,"Weston County, WY",2018,6967,right_only,71.766901
86863,5,Wyoming,"Weston County, WY",2019,6927,right_only,72.181319
86864,5,Wyoming,"Weston County, WY",2020,6743,right_only,74.150971

In [32]:
to_add_df.to_csv('/workspaces/pds-2022-turquoise-team/00_source_data/washington_all_data_all_counties.csv')

In [18]:
import pandas as pd
df1 = pd.read_table('../00_source_data/mortality for washington.txt')
df2 = pd.read_csv('/workspaces/pds-2022-turquoise-team/00_source_data/state county population.csv')
df1['Year County Code Combo'] = df1['County Code'].astype(str) + df1['Year'].astype(str)
df2 ['Year County Code Combo'] = df1['County Code'].astype(str) + df1['Year'].astype(str)
to_add_df = df1.merge(df2,indicator = True, on= 'Year County Code Combo', how='outer')#.loc[lambda x : x['_merge']=='right_only']
to_add_df = to_add_df.drop(columns=['State_x', 'Unnamed: 0', 'County Name', 'State Code_x', 'State_Code', 'Year Code', 'County_x', 'Year_x', 'Cause of death', 'Cause of death Code', 'Crude Rate', 'State Code_y', 'County Code_x', 'Population_x', 'Year County Code Combo','County Code_y'  
])
to_add_df['Deaths'] =  to_add_df['Deaths'].fillna('5')
to_add_df = to_add_df[to_add_df['Population_y'] != 'Missing']
to_add_df['Death Rate'] = (to_add_df['Deaths'].astype('int')/to_add_df['Population_y'].astype('int'))*100000
to_add_df.rename(columns={"State_y": "State", "County_y": "County", "Year_y": "Year", "Population_y": "Population"})

KeyError: "['Unnamed: 0', 'County Name', 'State_Code', 'Year Code'] not found in axis"