# Death Rate Data Cleanup

#### In this notebook we are collasping the underlying cause of death dataset from the CDC Wonder Database to create our death rate metric. 
<center> The death rate metric is defined as: </center>
<center> (Deaths/Population)*100,000</center>

#### So, this is the number of people who have an underlying cause of death related to opioids per 100,000 people.

In [26]:
import pandas as pd
df = pd.read_csv('/workspaces/pds-2022-turquoise-team/00_source_data/vital_stats_merged_1.csv')
df.drop(['Crude Rate'], axis = 1)

,Unnamed: 0,Year,State,State Code,County,County Code,Cause of death,Cause of death Code,Deaths,Population,County Name,State_Code
0,32,2007,Arkansas,5.0,"Garland County, AR",5051.0,Poisoning by and exposure to other and unspeci...,Y14,12.0,94753.0,Garland County,AR
1,33,2007,Arkansas,5.0,"Pulaski County, AR",5119.0,Poisoning by and exposure to other and unspeci...,Y14,11.0,373403.0,Pulaski County,AR
2,34,2007,Arkansas,5.0,"Sebastian County, AR",5131.0,Accidental poisoning by and exposure to other ...,X44,10.0,122946.0,Sebastian County,AR
3,35,2007,Arkansas,5.0,"Sebastian County, AR",5131.0,Poisoning by and exposure to other and unspeci...,Y14,11.0,122946.0,Sebastian County,AR
4,36,2007,California,6.0,"Alameda County, CA",6001.0,Accidental poisoning by and exposure to antiep...,X41,17.0,1455715.0,Alameda County,CA
...,...,...,...,...,...,...,...,...,...,...,...,...
1585,4750,2012,Virginia,51.0,"Norfolk city, VA",51710.0,Accidental poisoning by and exposure to other ...,X44,11.0,245782.0,Norfolk city,VA
1586,4751,2012,Virginia,51.0,"Richmond city, VA",51760.0,Accidental poisoning by and exposure to narcot...,X42,20.0,210309.0,Richmond city,VA
1587,4752,2012,Virginia,51.0,"Virginia Beach city, VA",51810.0,Accidental poisoning by and exposure to narcot...,X42,10.0,447021.0,Virginia Beach city,VA
1588,4753,2012,Virginia,51.0,"Virginia Beach city, VA",51810.0,Accidental poisoning by and exposure to other ...,X44,12.0,447021.0,Virginia Beach city,VA
1589,4799,2012,Wyoming,56.0,"Laramie County, WY",56021.0,Accidental poisoning by and exposure to other ...,X44,11.0,94483.0,Laramie County,WY

In [27]:
df['State'].unique()

array(['Arkansas', 'California', 'Georgia', 'Hawaii', 'Iowa', 'Kansas',
       'Maine', 'Massachusetts', 'Minnesota', 'Mississippi', 'Nebraska',
       'Nevada', 'New York', 'Oregon', 'Texas', 'Virginia', 'Montana',
       'Wyoming'], dtype=object)

#### Here we are seperating the dataframe into three dataframes: one for Texas, Washington, and Florida. Only the states we have selected as comparison states are put into their respective dataframes.

In [28]:
we_want_texas = ['Arkansas', 'California', 'Georgia', 'Missouri', 'New York', 'Wyoming']
we_want_washington = ['Alaska', 'Hawaii', 'Iowa', 'Kansas', 'Maine', 'Massachusetts',
       'Minnesota', 'Montana', 'Nebraska', 'North Dakota', 'Oregon',
       'South Dakota', 'Virginia', 'Wyoming']
we_want_florida = ['California', 'Nevada', 'New York', 'Texas']

df_washington = df[df['State'].isin(we_want_washington)]
df_texas = df[df['State'].isin(we_want_texas)]
df_florida = df[df['State'].isin(we_want_florida)]

#### Below we are grouped each data frame on the year. We do this to have a single death rate per year.

In [29]:
groupedby_df_washington = df_washington.groupby(["Year"]).sum() 
groupedby_df_washington = groupedby_df_washington.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
groupedby_df_washington['Death Rate'] = (groupedby_df_washington['Deaths']/groupedby_df_washington['Population'])*100_000

/tmp/ipykernel_5541/4193355366.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupedby_df_washington = df_washington.groupby(["Year"]).sum()

In [30]:
groupedby_df_texas = df_texas.groupby(["Year"]).sum() # we feel that sum is the most accurate function to use
groupedby_df_texas = groupedby_df_texas.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
groupedby_df_texas['Death Rate'] = (groupedby_df_texas['Deaths']/groupedby_df_texas['Population'])*100_000

/tmp/ipykernel_5541/1352553882.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupedby_df_texas = df_texas.groupby(["Year"]).sum() # we feel that sum is the most accurate function to use

In [31]:
groupedby_df_florida = df_florida.groupby(["Year"]).sum() # we feel that sum is the most accurate function to use
groupedby_df_florida = groupedby_df_florida.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
groupedby_df_florida['Death Rate'] = (groupedby_df_florida['Deaths']/groupedby_df_florida['Population'])*100_000

/tmp/ipykernel_5541/110551209.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupedby_df_florida = df_florida.groupby(["Year"]).sum() # we feel that sum is the most accurate function to use

#### These are the final dataframes with a death rate per 100,000 people per year.

In [32]:
groupedby_df_florida

   Year  Unnamed: 0  State Code  County Code  Deaths   Population  Death Rate
0  2007       52965      4082.0    4099044.0  6328.0  257961557.0    2.453079
1  2008      164849      3662.0    3677834.0  6047.0  251592002.0    2.403495
2  2009      308221      4084.0    4102506.0  6449.0  271885390.0    2.371955
3  2010      460727      4254.0    4272508.0  6434.0  287509238.0    2.237841
4  2011      636666      4554.0    4573107.0  7167.0  285728800.0    2.508323
5  2012      798886      4440.0    4458310.0  7032.0  297838744.0    2.361009

In [33]:
groupedby_df_texas

   Year  Unnamed: 0  State Code  County Code  Deaths   Population  Death Rate
0  2007       27289      2092.0    2100820.0  4866.0  201800261.0    2.411295
1  2008      130120      2030.0    2039550.0  4917.0  207654984.0    2.367870
2  2009      224083      1779.0    1787962.0  4819.0  212419875.0    2.268620
3  2010      360119      2081.0    2091159.0  4931.0  227149998.0    2.170812
4  2011      496276      2194.0    2204241.0  5439.0  220445483.0    2.467277
5  2012      647654      2323.0    2333576.0  5436.0  230657427.0    2.356742

In [34]:
groupedby_df_washington

   Year  Unnamed: 0  State Code  County Code  Deaths  Population  Death Rate
0  2007       23511      1755.0    1761101.0  1508.0  36314673.0    4.152591
1  2008       62870      1660.0    1664732.0  1347.0  33922930.0    3.970765
2  2009      119398      1900.0    1907016.0  1457.0  33077506.0    4.404806
3  2010      156712      1727.0    1730594.0  1278.0  36298604.0    3.520797
4  2011      265780      2420.0    2427434.0  1714.0  44399089.0    3.860440
5  2012      327465      2319.0    2326285.0  1671.0  45061198.0    3.708290

In [35]:
we_want_only_texas = ['Texas']
we_want_only_washington = ['Washington']
we_want_only_florida = ['Florida']

df_only_washington = df[df['State'].isin(we_want_only_washington)]
df_only_texas = df[df['State'].isin(we_want_only_texas)]
df_only_florida = df[df['State'].isin(we_want_only_florida)]

In [36]:
df_only_washington

Empty DataFrame
Columns: [Unnamed: 0, Year, State, State Code, County, County Code, Cause of death, Cause of death Code, Deaths, Population, Crude Rate, County Name, State_Code]
Index: []

In [37]:
groupedby_df_only_washington = df_only_washington.groupby(["Year"]).sum() 
groupedby_df_only_washington = groupedby_df_only_washington.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
groupedby_df_only_washington['Death Rate'] = (groupedby_df_only_washington['Deaths']/groupedby_df_only_washington['Population'])*100_000

/tmp/ipykernel_5541/348946759.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupedby_df_only_washington = df_only_washington.groupby(["Year"]).sum()

In [38]:
groupedby_df_only_texas = df_only_texas.groupby(["Year"]).sum() 
groupedby_df_only_texas = groupedby_df_only_texas.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
groupedby_df_only_texas['Death Rate'] = (groupedby_df_only_texas['Deaths']/groupedby_df_only_texas['Population'])*100_000

/tmp/ipykernel_5541/2730766202.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupedby_df_only_texas = df_only_texas.groupby(["Year"]).sum()

In [39]:
groupedby_df_only_florida = df_only_florida.groupby(["Year"]).sum() 
groupedby_df_only_florida = groupedby_df_only_florida.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
groupedby_df_only_florida['Death Rate'] = (groupedby_df_only_florida['Deaths']/groupedby_df_only_florida['Population'])*100_000

/tmp/ipykernel_5541/241970509.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupedby_df_only_florida = df_only_florida.groupby(["Year"]).sum()

In [40]:
groupedby_df_only_florida

Empty DataFrame
Columns: [Year, Unnamed: 0, State Code, County Code, Deaths, Population, Death Rate]
Index: []