In [3]:
import pandas as pd
df1 = pd.read_table('/workspaces/pds-2022-turquoise-team/00_source_data/mortality for texas.txt')
df2 = pd.read_csv('/workspaces/pds-2022-turquoise-team/00_source_data/state county population.csv')

In [54]:
df1['Year County Code Combo'] = df1['County Code'].astype(str) + df1['Year'].astype(str)

In [55]:
df2 ['Year County Code Combo'] = df1['County Code'].astype(str) + df1['Year'].astype(str)

In [64]:
to_add_df = df1.merge(df2,indicator = True, on= 'Year County Code Combo', how='outer')#.loc[lambda x : x['_merge']=='right_only']

In [80]:
to_add_df = to_add_df.drop(columns=['Notes', 'State_x', 'State Code_x', 'County_x', 'Year_x', 'Year Code_x', 'Cause of death', 'Cause of death Code', 'Year Code_y','Crude Rate', 'State Code_y', 'County Code_x', 'Population_x', 'Year County Code Combo','County Code_y'  
])

In [84]:
to_add_df['Deaths'] =  to_add_df['Deaths'].fillna('5')

In [85]:
to_add_df

      Deaths  State_y            County_y  Year_y Population_y      _merge
0       16.0  Alabama  Autauga County, AL    1999        42963        both
1       10.0  Alabama  Autauga County, AL    2000        43671        both
2       15.0  Alabama  Autauga County, AL    2001        44889        both
3       13.0  Alabama  Autauga County, AL    2002        45909        both
4       20.0  Alabama  Autauga County, AL    2003        46800        both
...      ...      ...                 ...     ...          ...         ...
83252      5  Wyoming   Weston County, WY    2016         7236  right_only
83253      5  Wyoming   Weston County, WY    2017         6927  right_only
83254      5  Wyoming   Weston County, WY    2018         6967  right_only
83255      5  Wyoming   Weston County, WY    2019         6927  right_only
83256      5  Wyoming   Weston County, WY    2020         6743  right_only

[83257 rows x 6 columns]

In [86]:
to_add_df.to_csv('/workspaces/pds-2022-turquoise-team/00_source_data/texas_all_data_all_counties.csv')